name: tenon_mortise
description: Easily build your Widgets, Avoid parenthesis nesting, easy to build UI, A little like swift-ui.
version: 0.0.9
homepage: https://github.com/read0nly/tenon_mortise.git


environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
